.create-assignment__option{
height: 100%;
}

.form-option__button,
.file-option__button{
    margin-top: 40%;
    background-color: rgb(121, 113, 234);
    border-color: rgb(121, 113, 234);
    color: #ffffff;
}

.form-option__button:hover,
.form-option__button:focus,
.file-option__button:hover,
.file-option__button:hover{
    margin-top: 40%;
    background-color: transparent;
    border-color: rgb(121, 113, 234);
    color: rgb(121, 113, 234);
}

.form-option__details,
.file-option__details{
    color: rgb(121, 113, 234);
    margin-bottom: 38%;
}